<div class="card" *ngIf="clients">
  <div class="card-header">
    <span class="align-middle lead">Dashboard</span>
    <span class="align-middle float-right lead">Total Balance: {{totalOwed | currency: "USD"}}</span>
  </div>
  <div class="card-body">

    <table *ngIf="clients?.length >0;else noClients" class="table mt-2">
      <thead>
        <tr>
          <!-- <th>ID</th> -->
          <th>Name</th>
          <th>Email</th>
          <th>Balance</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <!-- <td>{{client.$key}}</td> -->
          <td>{{client.firstName}} {{client.lastName}}</td>
          <td>{{client.email}}</td>
          <td>{{client.balance | currency: "USD"}}</td>
          <td>
            <a [routerLink]="['/client/'+client.$key]" href="" class="btn btn-success btn-sm">
              <i class="fa fa-info-circle mr-2"></i>view</a>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noClients>
      <hr>
      <h5>No clients</h5>
    </ng-template>
  </div>
</div>