<div class="row">
  <div class="col-lg-4 col-md-6 mx-auto">
    <div class="card">
      <div class="card-header text-center">
        <span class="lead">Register</span>
      </div>
      <div class="card-body">
        <form (submit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" [(ngModel)]="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" required>
          </div>
          <input type="submit" class="btn btn-success btn-block" value="Register" />
        </form>
      </div>
    </div>
  </div>
</div>