<div class="card" *ngIf="employees">
  <div class="card-header">
    <span class="align-middle lead">Dashboard</span>
  </div>
  <div class="card-body">

    <table *ngIf="employees?.length >0;else noEmployees" class="table mt-2">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.firstName}} {{employee.lastName}}</td>
          <td>{{employee.position}}</td>
          <td>{{employee.address}}</td>
          <td>
            <a [routerLink]="['/employee/'+employee.$key]" href="" class="btn btn-success btn-sm">
              <i class="fa fa-info-circle mr-2"></i>view</a>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noEmployees>
      <hr>
      <h5>No employees</h5>
    </ng-template>
  </div>
</div>