<ul class="list-group">
  <li class="list-group-item">
    <a href="#" routerLink="/dashboard" class="text-success">
      <i class="fa fa-toolbox mr-2"></i>Dashboard</a>
  </li>
  <li class="list-group-item">
    <a href="#" routerLink="/add-employee" class="text-success">
      <i class="fa fa-plus-circle mr-2"></i>Add Employee</a>
  </li>
  <li class="list-group-item">
    <a href="#" routerLink="/register" class="text-success">
      <i class="fa fa-user-shield mr-2"></i>Create Admin</a>
  </li>
</ul>